/*header*/
header{
    background-image: url(./img/background4.jpg);
    background-color: lightgray;
    image-resolution: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    padding: 1px;

}

body {
    background-color: whitesmoke;
    
    

}

h1{
    text-align: right;
    padding-top: 80px;
    font-style: bold;
    font-display: flex;
    font-size: 70px;
    color: darkblue;
    margin-right: 420px;
       
}

h2{
    padding: 50px;
    text-align: center;
}

p{
  text-align: center;
  margin-top: -50px;
  font-size: 20px;

}

nav{
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    margin-top: -150px;
    
}

.btn-container {
  text-align: center; /* Center-aligns the button horizontally */
  margin-top: 20px; /* Adds top margin */
}

.btn {
  padding: 10px 20px; /* Adds padding inside the button */
  font-size: 16px; /* Sets the font size of the button text */
  cursor: pointer; /* Changes cursor to pointer on hover */
  border: none; /* Removes default button border */
  border-radius: 4px; /* Rounds the button corners */
}

.btn-dark {
  background-color: lightskyblue; /* Sets background color for the dark button */
  color: black; /* Sets text color for the dark button */
}

.btn-dark:hover {
  background-color: #555; /* Darkens background color on hover */

}
#petList{
    text-align: center;
    font-size: 20px;
    border: 2px solid #ccc; 
    padding: 20px; 
    width: 15%; 
    margin: 20px auto; 
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

#container {
    margin-top: -200px;
    margin-left: 200px;   
    
}

.dog-head {
  z-index: 50;
  -webkit-animation: head-move 1s ease-in-out infinite;
  margin-left: -20px;
 
}

div.dog-body {
  height: 300px;
  width: 225px;
  margin-top: -175px;
  margin-left: 1px;
  background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
  background-repeat: no-repeat;
}

/*ANIMATIONS
---------------------------------------------------------*/

@-webkit-keyframes head-move {
  50% { 
    -webkit-transform: rotate(-1.2deg); 
  }
}

.form-container{
    display: flex;
    height: 200px;
    flex-flow: column wrap;
    background-color: #dedede;
    margin-top: 250px;
    border: 5px solid gray;
    
}
.form-label {
  display: inline-block;
  width: 100px; 
  margin-right: 10px; 
  font-weight: bold; 

}

#txtType {
  width: 200px; 
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 

}

#txtService {
  width: 200px; 
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 

}

#txtPayment {
  width: 200px; 
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.mb-3{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    display: flex;
    
}   

.pet{
    background-color: #dedede;
    border:5px solid gray;
    padding: 5px;

}

#pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 2px;
    text-align: left;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
      
  }
  
  th {
    background-color: #f2f2f2;
    
   
  }
  .footer {
    background-color: gray; 
    padding: 20px; 
    text-align: center; 
    font-size: 14px; 
    color: black; 
    font-style: italic; 
}

.footer p {
    margin: 0; 
    line-height: 1.5; 
}

